.container_Login {
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1556225496-ff493e20d9a0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
  
    .container_Login_form {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      height: auto;
      border-radius: 8px;
      background-color: white;
      h3 {
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        padding: 10px 0;
        font-size: 30px;
        letter-spacing: 5px;
      }
  
      .buttonlogin {
        padding: 1px 30px;
        transform: translate(-50%, -50%);
        margin-left: 50%;
        margin-top: 25px;
        border: none;
        outline: none;
        border: 1px solid;
        &:hover {
          cursor: pointer;
          font-weight: 600;
          color: #fff;
          background-color: #3498db;
        }
      }
  
      .text {
        padding-bottom: 5px;
        margin-top: 1px;
        font-size: 12px;
        margin-left: 45px;
        span {
          cursor: pointer;
          color: #0d3aee;
        }
      }
  
      .back_home {
        width: 100%;
        height: 25px;
        text-align: right;
        span {
          color: #0d3aee;
          margin-right: 12%;
          padding-top: 15px;
          font-size: 12px;
          text-transform: capitalize;
          cursor: pointer;
        }
      }
    }
  }
  