.Container_notify_item {
    width: 100%;
    display: flex;
    cursor: pointer;
    margin: 5px 0;
    .Container_notify_item_image {
      width: 25%;
      display: grid;
      place-items: center;
    }
  }
  
  .container_notify {
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0;
    }
  }
  